<ng-container *ngIf="getCart()">
  <p>Panier vide</p>
</ng-container>
<ng-container *ngIf="!getCart()">
  <button class="btn btn-secondary" (click)="deleteCart()">
    Vider le panier
  </button>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>QUANTITE</th>
        <th>PRIX</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of listCarts">
        <td>{{ cart.id }}</td>
        <td>{{ cart.name }}</td>
        <td>{{ cart.quantity }}</td>
        <td>{{ cart.price * cart.quantity }}</td>
        <td>
          <a class="btn btn-danger" (click)="deleteItemFromCart(cart)"
            >Supprimer</a
          >
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{ totalPrice }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" (click)="order()">
    Commander
  </button>
</ng-container>
